# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc


# Env
.env


# Django
*.sqlite3
db.sqlite3
/staticfiles/
media/

# IDEs
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log

# Byte-compiled / temp files
*.pyc
*.pyo
*.pyd
*.cache
*.pytest_cache/
